<% @title = "Comments" %>
<div class="comments list">
  <% if @all_comments.empty? %>
    No comments have been posted.
  <% else %>
    <%= render :partial => 'admin/comments/comment',
      :collection => @comments,
      :locals => { :show_topic => true } %>
    <%= will_paginate @comments %>
  <% end %>
</div>
