<% @title = "Welcome" %>
<h1>Let's get started!</h1>
<p>So you want to embed comments on a bunch of web pages.</p>

<p>What's your site's name? Just enter one. If you have more you can add them later.</p>

<p>How do you want to moderate new comments?</p>
