<form
method="post"
action="javascript:void(0)"
onsubmit="return Juvia.submitComment(this)"
class="juvia-add-comment-form">
	<div class="juvia-metadata">
		<div class="juvia-field juvia-text-field">
			<div class="juvia-input"><input type="text" name="author_name"></div>
		</div>
		
		<div class="juvia-field juvia-text-field">
			<div class="juvia-input">
				<input type="text" name="author_email"> [?]
			</div>
		</div>
	</div>
	
	<div class="juvia-data">
		<div class="juvia-field juvia-textarea-field">
			<textarea name="content" cols="80" rows="14"></textarea>
		</div>
	</div>
	
	<div class="juvia-form-actions">
		<div class="juvia-action juvia-submit-button">
			<input type="submit" value="Submit">
		</div>
		<div class="juvia-error" style="display: none"></div>
	</div>
	
	<div class="juvia-preview">
		<h4>Preview</h4>
		<div class="juvia-preview-empty">
			Comments can be styled with <a href="http://daringfireball.net/projects/markdown/basics">Markdown</a>.
			Type something and a preview will show up here.
		</div>
		<div class="juvia-preview-content" style="display: none"></div>
	</div>
</form>