<form
method="post"
action="javascript:void(0)"
class="juvia-add-comment-form">
	<div class="juvia-metadata">
		<div class="juvia-field juvia-text-field">
			<div class="juvia-input"><input type="text" name="author_name"></div>
		</div>
		
		<div class="juvia-field juvia-text-field">
			<div class="juvia-input">
				<input type="text" name="author_email">
				<a href="javascript:void(0)" class="juvia-help">[?]</a>
				<div class="juvia-help-content" style="display: none">
					The email address is only used for
					displaying your <a href="http://gravatar.com/">Gravatar</a>.
					It won't be displayed in the comment and other
					people won't see it.
				</div>
			</div>
		</div>
	</div>
	
	<div class="juvia-data">
		<div class="juvia-field juvia-textarea-field">
			<textarea name="content" cols="80" rows="14"></textarea>
		</div>
	</div>
	
	<div class="juvia-form-actions">
		<div class="juvia-action juvia-submit-button">
			<input type="submit" value="Submit" />
		</div>
		<div class="juvia-action juvia-submitting-button" style="display: none">
			<input type="submit" value="Submitting, please wait..." disabled />
		</div>
		<div class="juvia-error" style="display: none"></div>
	</div>
	
	<div class="juvia-preview">
		<h4>Preview</h4>
		<div class="juvia-preview-empty">
			Comments can be styled with <a href="http://daringfireball.net/projects/markdown/basics">Markdown</a>.
			Type something and a preview will show up here.
			<div class="juvia-self-ad">This commenting system is powered by <a href="<%= JUVIA_GITHUB_PAGE %>">Juvia</a>.</div>
		</div>
		<div class="juvia-preview-content" style="display: none"></div>
	</div>
</form>