development:
  adapter: mysql2
  database: juvia
  host: localhost
  username:
  password:

test:
  adapter: mysql2
  database: juvia
  host: localhost
  username:
  password:

production:
  adapter: mysql2
  database: juvia
  host: localhost
  username:
  password:
