// -*- Mode: SCSS; tab-width: 4; indent-tabs-mode: true; c-basic-offset: 4 -*-

@import "comment_content";

.juvia-container {
	font-family: 'Helvetica', 'Arial', 'Sans Serif';
	font-size: 11pt;
	line-height: normal;

	// Override conflicting styles from some websites.
	h1, h2, h3, h4 {
		float: none;
	}
}

.juvia-container blockquote {
	font-size: 100%;
	font-style: italic;
	font-family: Georgia, Serif;
	border-left: #dddddd 2px solid;
	margin: 0.5em;
	padding: 0 0 0 1em;
	color: #888888;

	p {
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}
}

.juvia-comment {
	min-height: 64px;
	margin-bottom: 30px;
}

.juvia-comment .juvia-metadata {
	position: relative;
	background: #e2e2e2; /* Old browsers */
	background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#d1d1d1',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%); /* W3C */
	margin-bottom: 0.5em;
	padding: 8px;
}

.juvia-comment .juvia-avatar {
	float: left;
	margin-top: -8px;
	margin-left: -92px;
}

.juvia-comment .juvia-author {
	font-weight: bold;
}

.juvia-comment .juvia-creation-date {
	position: absolute;
	right: 12px;
	top: 10px;
	font-size: 70%;
}

.juvia-comment .juvia-metadata {
	margin-left: 84px;
}

.juvia-comment .juvia-data {
	margin-left: 92px;
}

.juvia-moderating {
	font-style: italic;
}

.juvia-reply-to-comment {
	font-size: 80%;
}

.juvia-comment-content,
.juvia-preview-conten {
    @include CommentContent;
}

.juvia-comment h1,
.juvia-preview-content h1 {
	font-size: 125%;
}

.juvia-comment h2,
.juvia-preview-content h2 {
	font-size: 110%;
}

.juvia-comment h3,
.juvia-preview-content h3,
.juvia-comment h4,
.juvia-preview-content h4,
.juvia-comment h5,
.juvia-preview-content h5,
.juvia-comment h6,
.juvia-preview-content h6 {
	font-size: 100%;
}

.juvia-field input {
	width: 20em;
}

.juvia-example-text {
	color: #888888;
}

.juvia-field .juvia-input,
.juvia-textarea-field {
	margin-bottom: 0.5em;
}

.juvia-help-content {
	position: absolute;
	font-size: 90%;
	width: 14em;
	border: solid 1px black;
	background: #ffffe0;
	border: solid 1px #ffddaa;
	padding: 8px;
	box-shadow: 3px 3px 5px #888;
	-moz-box-shadow: 3px 3px 5px #888;
	-webkit-box-shadow: 3px 3px 5px #888;
}

.juvia-textarea-field textarea {
	width: 50em;
	height: 15em;
}

.juvia-form-actions .juvia-action {
	display: inline;
}

.juvia-form-actions .juvia-error {
	display: inline;
	color: red;
	margin-left: 1em;
}

.juvia-preview h4 {
	margin-bottom: 0.5em;
}

.juvia-preview-content {
	background: #ffffdd;
	border: solid 1px #ffeebb;
	margin-bottom: 1em;
	padding: 8px;

	p {
		margin-top: 1em;
		margin-bottom: 1em;
	}

	pre, code {
		background: inherit;
		font-weight: normal;
		border: none;
		margin: 0;
		padding: 0;
	}

	pre {
		margin: 1em;
	}
}

.juvia-preview-content > *:first-child {
	margin-top: 0;
}

.juvia-preview-content > *:last-child {
	margin-bottom: 0;
}

.juvia-self-ad {
	margin-top: 1em;
	font-size: 80%;
	color: #888888;
}
