<h1>User: <%= @user.email %></h1>

<%= render 'form' %>

<h2>Sites</h2>
<div class="sites resources list">
  <%= render :partial => 'admin/sites/site', :collection => @sites %>
</div>

<h2>Topics</h2>
<div class="topics resources list">
  <%= render :partial => 'admin/topics/topic', :collection => @topics %>
</div>
