<%= div_for(site, :class => 'item container') do %>
  <div class="row">
    <div class="col_9 identity_column">
      <%= small_identity_tag(:site, site.name, [:admin, site]) %>
    </div>
    <div class="col_3 last info_column">
      <%= site.topics.count %> topics,
      <%= site.comments.count %> comments
    </div>
  </div>
<% end %>