<% if @sites.empty? %>
  <div class="sites empty">
    <p>You haven't registered any sites.</p>
    <p><%= add_button_link_to 'Create a new site', new_admin_site_path %></p>
  </div>
<% else %>
  <div class="list_with_actions">
    <% if can?(:create, Site) %>
      <div class="pre actions">
        <%= add_button_link_to 'Create a new site', new_admin_site_path %>
      </div>
    <% end %>

    <div class="sites resources list">
      <%= render :partial => 'admin/sites/site', :collection => @sites %>
    </div>

    <% if can?(:create, Site) %>
      <div class="post actions">
        <%= add_button_link_to 'Create a new site', new_admin_site_path %>
      </div>
    <% end %>
  </div>
<% end %>
