<% @title = "Test page for site #{@site.name}" %>
<h2>Test page for site <%= link_to @site.name, [:admin, @site] %></h2>

<p>On this page you see how an embedded Juvia comments page for the site "<%= @site.name %>" looks like.
The used <code>topic_key</code> is <strong>test</strong> and the code is as follows:</p>

<textarea readonly class="code" onclick="this.select()" id="embedding_code"><%= html_unsafe(
  render(:partial => 'admin/help/code.txt',
      :locals => {
          :container => '#comments',
          :site_key  => @site.key,
          :topic_key => 'test'
      }
  ))
%></textarea>

<hr>

<div id="comments">Loading...</div>
<%= render(:partial => 'admin/help/code.txt',
      :locals => {
          :container => '#comments',
          :site_key  => @site.key,
          :topic_key => 'test'
      }
) %>
